
<div class="container contentParagraph animate__animated animate__fadeInTopLeft">
    I had been writing a blog on wordpress before by the name "Lazy Backpacker" where I wrote about my
    travel experiences. However, as the name suggests, I became a bit too lazy and stopped writing. I still have a lot
    of travel stories to share but now I want to write something more too.
</div>
<div class="container contentParagraph" data-aos="fade-up" data-aos-duration="800">
    Hence, Fasana e Dil, which literally means story of the heart. I plan to write about my thoughts or any events of my life here, as well as traveling. 
    There is no particular theme of this blog. This is going to be a documentation of my point of view, emotions, and things that I love or hate. I know I might still be lazy to write with a
    constant frequency but I would try.
</div>
<div class="container contentParagraph" data-aos="fade-right" data-aos-duration="800">
    I am trying to put my mediocre skill of
    programming into some use by making this website. The website might still be a bit buggy but I will keep fixing and adding
    somethings with the time. Cheers!
</div>