
<div class="container contentParagraph animate__animated animate__fadeInLeft">
    I had been writing a blog on wordpress before by the name "Lazy Backpacker" where I wrote about my
    travel experiences. However, as the name suggests, I became a bit too lazy and stopped writing. I still have a lot
    of travel stories to share but now I want to write something more too.
</div>
<div class="container contentParagraph animate__animated animate__fadeInRight">
    Hence, Fasana e Dil, which literally means story of the heart. I plan to write about my thoughts or any events of my life here, as well as traveling. 
    There is no particular theme of this blog. I know I might still be lazy to write with a
    constant frequency but I would try. I am trying to put my mediocre skill of
    programming into some use by making this website. The website might still be a bit buggy but I will keep fixing and adding
    somethings with the time. Cheers!
</div>
