
<div class="container contentParagraph animate__animated animate__fadeInLeft">
    I had been writing a blog on wordpress before by the name "Lazy Backpacker" where I wrote about my
    travel experiences. However, as the name suggests, I became a bit too lazy and stopped writing. I still have a lot
    of travel stories to share but now I want to write something more too.
</div>
<div class="container contentParagraph animate__animated animate__fadeInRight">
    Hence, Fasana e Dil, which literally means stories of the heart. I know I might still be lazy to write with a
    constant frequency but I would try. I am trying to put my mediocre skill of
    programming into some use by making this blog. The website is still too buggy but I will keep fixing and adding
    somethings with the time. I just hope that any recruiters don't find this terrible work!
</div>
