<div class="container row" style="margin-bottom: 2%;">
    <!-- <div class="col text-center animate__animated" style="margin-bottom:2%;" [ngClass]="this.user!=null? 'animate__fadeOutLeft':'animate__fadeInRight'">
    <button class="btn btn-secondary text-center pointer animate__animated "
    
     style="padding:0.5vh 0.6vw; color: white; background-color: #7A1A1A; font-size: 15px; font-weight: 200; border-radius: 5px;"
       (click)="signin()">Sign in to comment</button>
       </div> -->
       <div [ngClass]="this.user!=null? 'animate__fadeOutLeft':'animate__fadeInRight'" class="container col animate__animated">
       <div class="row">
        <h5 style="margin-left: 7%; margin-top:1%">To leave a comment</h5>
       <div  class="col" style="margin-bottom:2%;"  id="google-btn"></div>
       </div>
         </div>
       <div [ngClass]="this.user==null? 'animate__fadeOutRight':'animate__fadeInLeft'" class="col col-sm text-center animate__animated" style="margin-bottom:2%;">
    <button class="sign-out-button pointer text-center animate__animated animate__fadeInLeft"
     id="logout"
     
       (click)="logout()">Sign out</button>
    </div>
    </div>