<div class="container row" style="margin-bottom: 2%;">
    
       <div [ngClass]="this.user!=null? 'animate__fadeOutLeft':'animate__fadeInRight'" class="container col animate__animated" id="googlebtn">
       <div class="row container">
        <h5 style="margin-right: 3%; margin-top:1%">To leave a comment</h5>
       <div  class="col" style="margin-bottom:2%; padding-left: 0%;"  id="google-btn"></div>
       </div>
         </div>
       <div [ngClass]="this.user==null? 'animate__fadeOutRight':'animate__fadeInLeft'" class="col text-right animate__animated" style="margin-bottom:2%;">
    <button class="sign-out-button pointer text-center animate__animated animate__fadeInLeft"
     id="logout"
     
       (click)="logout()">Sign out</button>
    </div>
    </div>