
<style>
    :host ::ng-deep header.masthead{
    background-image: url("/assets/iMG_50861.jpeg");

}
</style>
<app-cover></app-cover>
<h1 style="text-align: center; margin-top: 10px; color: black;" class="animate__animated animate__fadeInDownBig">About Fasana e Dil</h1>
<hr class="container">
<app-content></app-content>

<hr class = "container animate__animated animate__fadeInLeft">
<h1 style="text-align: center; margin: 12px; color: black;" data-aos="fade-down" data-aos-duration="1000">Recent Posts</h1>
<hr class = "container animate__animated animate__fadeInRight">
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div *ngFor="let blog of blogs">
        <app-postpreview [post]="blog"></app-postpreview>
        <hr>
      </div>
      <div class="clearfix">
        
         
        <a class="btn btn-secondary float-right pointer" style="padding:0.5vh 0.6vw; font-size: 2vmin" data-aos="fade-left" data-aos-duration="1000" routerLink="/posts">
          All Posts &rarr;
        </a>
      </div>
    </div>
  </div>
      

