
<style>
    :host ::ng-deep header.masthead{
    background-image: url("/assets/iMG_50861.jpeg");

}
</style>
<app-cover></app-cover>
<app-content></app-content>

<hr class="container">
<h1 style="text-align: center; margin-bottom: 12px; color: black;" class="animate__animated animate__fadeIn">Recent Posts</h1>
<hr class = "container">
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div *ngFor="let blog of blogs">
        <app-postpreview [post]="blog"></app-postpreview>
        <hr>
      </div>
      <div class="clearfix">
        
         
        <a class="btn btn-secondary float-right pointer" routerLink="/posts">
          All Posts &rarr;
        </a>
      </div>
    </div>
  </div>
      

