
<style>
    :host ::ng-deep header.masthead{
    background-image: url("/assets/iMG_50861.jpeg");

}
</style>
<app-cover [ispostclicked]="ispostclicked"></app-cover>
<div class="animate__animated" [ngClass]="this.navbarclick.navbarclick || isallpostsclicked || ispostclicked ?'animate__fadeOutUp':''">
<h1 style="text-align: center; margin-top: 10px;color: #7A1A1A;" class="animate__animated animate__slideInRight">About Fasana e Dil</h1>
</div>
<div class="animate__animated" [ngClass]="this.navbarclick.navbarclick || isallpostsclicked || ispostclicked?'animate__fadeOutUp':''">    
<hr class="container">

<app-content></app-content>
<hr class = "container animate__animated animate__fadeInLeft">
<h1 style="text-align: center; margin: 12px; color: #7A1A1A;"  data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">Recent Posts</h1>
<hr class = "container animate__animated animate__fadeInRight">
</div>
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto animate__animated">
      <div *ngFor="let blog of blogs.slice().reverse(), let i = index">
        <div *ngIf="i<2">
            <div class="animate__animated" [ngClass]="[ispostclicked&&(blogs.length-i)-1!=this.postindex?'animate__fadeOutLeft':'',ispostclicked&&(blogs.length-i)-1==this.postindex?'animate__fadeOutRight':'',
            isallpostsclicked || this.navbarclick.navbarclick ?'animate__fadeOutDown':'']">
        <app-postpreview [post]="blog" (ispostclicked)="getPostClick($event)" (postindex)='getindex($event)'></app-postpreview>
        <hr>
        </div>
        </div>  
      </div>
      <div class="clearfix">  
        <a class="btn btn-secondary float-right pointer animate__animated" style="padding:0.5vh 0.6vw; color: white; background-color: #7A1A1A; font-size: 2vmin; font-weight: 200; border-radius: 5px;"
            (click)="allPostClick()" [ngClass]="isallpostsclicked || ispostclicked ?'animate__fadeOutRight':''" data-aos="fade-left" data-aos-duration="1000">
          All Posts &rarr;
        </a>
        
      </div>
    </div>
  </div>

      

