<app-cover [id]="id" [blogtitle]="blogpost.title" [blogsubtitle]="blogpost.subtitle"></app-cover>
<div *ngFor="let para of blogpost.content,let i = index" >
    <div style="text-align: center; margin-top: 2%;margin-bottom: 2%;">
         
        <img *ngIf="i%2==0 && i!=0" class="col-12 col-lg-8 col-xl-4 col-md-10 col-sm-12" data-aos="fade-left" data-aos-duration="1000"
            src="{{'/assets/Blog_id' + id + '_index' + i +'.JPG'}}" >
        
        </div>
        <div *ngIf="i%2!=0" data-aos="fade-left" data-aos-duration="1000" data-aos-anchor-placement="top" class="container contentParagraph animate__animated"
        [ngClass]="this.navbarclick.navbarclick?'animate__fadeOutRight':''">{{para}}</div>
    <div *ngIf="i%2==0" data-aos="fade-right" data-aos-duration="1000" class="container contentParagraph animate__animated"
    [ngClass]="this.navbarclick.navbarclick?'animate__fadeOutLeft':''">{{para}}</div>
</div>
<hr [ngClass]="this.user!=null?'animate__animated animate__fadeInUp':'animate__animated animate__fadeInDown'">
<div class="container">
<app-signin></app-signin>
</div>
<div id="commentbox" 
  class="container comment-box-container animate__animated">
    <textarea [(ngModel)]="comment" placeholder="Leave a comment here" id="commentField" class="stylish-text-area"></textarea>
    <label for="commentField" class="floating-label">Leave a comment here</label>
    <button class="comment-btn" (click)="commentsubmit()">Comment</button>
  </div>
 <app-commentslist [id]="id"></app-commentslist>
<!---->