<app-cover [id]="id" [blogtitle]="blogpost.title" [blogsubtitle]="blogpost.subtitle"></app-cover>
<div *ngFor="let para of blogpost.content,let i = index">
    <div style="text-align: center; margin-top: 2%;margin-bottom: 2%;">
         
        <img *ngIf="i%2==0 && i!=0" class="col-lg-6" data-aos="fade-left" data-aos-duration="1000"
            src="{{'/assets/Blog_id' + id + '_index' + i +'.JPG'}}" >
        
        </div>
        <div *ngIf="i%2!=0" data-aos="fade-left" data-aos-duration="1000" class="container contentParagraph">{{para}}</div>
    <div *ngIf="i%2==0" data-aos="fade-right" data-aos-duration="1000" class="container contentParagraph">{{para}}</div>
</div>
<!---->