.contentParagraph{
  margin-top: 20px;
  color: #000;
  font-size: 2vh;
  line-height: 30px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.05em;
  overflow:auto;
}