<style>
    :host ::ng-deep header.masthead{
    background-image: url("/assets/IMG_5242.JPG");

}
</style>
<app-cover></app-cover>
<div class="container contentParagraph animate__animated animate__fadeInLeft">
   Currently living in Edinburgh, I would describe myself as an ambivert (introvert in most situations) and a professional procrastinator, with 150% brain efficiency an hour before the deadline (too late!). 
   Growing up in a small town in Pakistan, I wanted to be an Archaeologist because it was the coolest word I read in our history book. However, I have ended up being quite the opposite, a struggling 
   Computer Scientist. I have lately been learning how to put zero effort for something and labeling it as minimalist. I am getting quite good at this.
</div>
<div class="container contentParagraph animate__animated animate__fageinRight">
    {{content}}

</div>
<script>
    console.log(content);
</script>

