
/*.navbar {
  position: absolute;
  right: 8.5px;
  top: 13px;
  width: min-content;
  height: min-content;
  align-items: flex-start;
}
.navitem {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    font-family: Raleway, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: 90px;
    height: 33px;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
 :host,
:not(span, a, ul, ol, li, p) {
  display: flex;
}
.navitem:hover {
    color: white;
    cursor:pointer;
}*/
.navbar-brand{
  font-size: 5vh;
  font-family: Reem Kufi Ink, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif;
}