<div class="post-preview" data-aos="fade-right" [ngClass]="post.isUrdu?'text-right':''" data-anchor-placement="top-top" data-aos-duration="1000">
    <a (click)="navigate()" class="pointer">
        <h2 class ="post-title" [ngClass]="post.isUrdu?'noto-nastaliq':''">{{post.title}}</h2>
        <h3 class ="post-subtitle"[ngClass]="post.isUrdu?'noto-nastaliq':''">{{post.subtitle}}</h3>
    </a>
    <p class ="post-meta"> Posted by
        <a href="./#/about" >{{post.author}}</a>
        on {{post.Created_date}}
    </p>
</div>