.post-preview>a {
    color: #212529;
  }
  
  .post-preview>a:focus,
  .post-preview>a:hover {
    text-decoration: none;
    color: #7A1A1A;
  }
  
  .post-preview>a>.post-title {
    font-size: 3.5vmax;
    margin-left: 2%;
    margin-right: 3%;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .post-preview>a>.post-subtitle {
    font-size:medium;
    font-weight: 300;
    margin-left: 2%;
    margin-right: 3%;
    
  }
  
  .post-preview>.post-meta {
    font-size: 0.7em;
    font-style: italic;
    margin-top: 0;
    margin-left: 2%;
    margin-right: 2%;
    color: #868e96;
  }
  
  .post-preview>.post-meta>a {
    text-decoration: none;
    color: #212529;
  }
  
  .post-preview>.post-meta>a:focus,
  .post-preview>.post-meta>a:hover {
    text-decoration: underline;
    color: #7A1A1A;
  }
  
  @media only screen and (min-width: 768px) {
    .post-preview>a>.post-title {
      font-size: 36px;
    }
  }
  .text-right{
    text-align: right;
  }