<!-- <div class="CoverImage"></div>

<div class="CoverTitle">فسانہِ دِل</div> -->

<header  class="masthead animate__animated animate__fadeInLeft" id='coverpic' [ngClass]="{id0:'id==0',id1:'id==1'}" >
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1 ng-bind="header.title" class="animate__animated animate__slideInDown"></h1>
            <span class="subheading animate__animated animate__slideInUp " ng-bind="header.subtitle"></span>
            <span class="meta" ng-if="header.byline.length > 0" ng-bind="header.byline">
            </span>
          </div>
        </div>
      </div>  
    </div>
  </header>