<!-- <div class="CoverImage"></div>

<div class="CoverTitle">فسانہِ دِل</div> -->

<header  class="masthead animate__animated" id='coverpic' 
        [ngClass]="[id==0 ? 'id0 animate__fadeInRight':'animate__fadeInLeft',id==1?'id1 animate__fadeInRight':'animate__fadeInLeft',
                    ispostclicked?'animate__fadeOutLeft':'', this.navbarclick.navbarclick?'animate__fadeOutRight':''] " >
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1 data-aos="fade-up" data-aos-duration="1000">{{blogtitle}}</h1>
            <span class="subheading" data-aos="fade-left"data-aos-easing="ease-in-sine" data-aos-duration="1000" >{{blogsubtitle}}</span>
            <span class="meta" ng-if="header.byline.length > 0" ng-bind="header.byline">
            </span>
          </div>
        </div>
      </div>  
    </div>
  </header>