<style>
    :host ::ng-deep header.masthead{
    background-image: url('/assets/IMG_5207.JPG');

}
</style>
<app-cover [ispostclicked]="ispostclicked"></app-cover>
<h1 class="text-center animate__animated animate__fadeInUp" 
    [ngClass]="ispostclicked||this.navbarclick.navbarclick?'animate__fadeOutLeft':''" style="color:#7A1A1A ;">All Posts</h1>

<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto animate__animated" [ngClass]="this.navbarclick.navbarclick?'animate__fadeOutDown':''">
        <hr class="container animate__animated" [ngClass]="ispostclicked?'animate__fadeOutDown':''">
      <div *ngFor="let blog of blogs.slice().reverse(), let i = index">
        <div class="animate__animated" [ngClass]="[ispostclicked&&i!=this.postindex?'animate__fadeOutLeft':'',ispostclicked&&i==this.postindex?'animate__fadeOutRight':'']">
        <app-postpreview [post]="blog" (ispostclicked)='getPostClick($event)' (postindex)='getindex($event)'></app-postpreview>
        <hr>
        </div>
      </div>
      <div class="clearfix">
      </div>
    </div>
  </div>



